@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  @apply h-full;
}
body {
  @apply h-full;
}
div#__next {
  @apply h-full;
}
main {
  @apply h-full;
}

.rainbow {
  @apply bg-gradient-to-br from-red-500 via-green-500 to-blue-500;
}

.chuni-max-gradient {
  @apply bg-gradient-to-tr from-chuniS-1 via-chuniS-2 to-chuniS-3;
  @apply border-chuniS-4 border-2;
}

.chuni-gold-gradient {
  @apply bg-gradient-to-tr from-chuniGold-100 to-chuniGold-200;
  @apply border-chuniGold-300 border-2;
}

.text-outline-shadow {
  text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black,
    0 0 1px black;
}

.chuni-blue-gradient {
  @apply bg-gradient-to-tr from-chuniBlue-100 to-chuniBlue-200;
  @apply border-chuniBlue-300 border-2;
}

.chuni-bronze-gradient {
  @apply bg-gradient-to-tr from-chuniBronze-100 to-chuniBronze-200;
  @apply border-chuniBronze-300 border-2;
}

.chuni-silver-gradient {
  @apply bg-gradient-to-tr from-chuniSilver-100 to-chuniSilver-200;
  @apply border-chuniBronze-300 border-2;
}

/* I dont know if I have any use for this tbh */
.grade-scale-text {
  --minFontSize: 1rem;
  --maxFontSize: 5rem;
  --scaler: 10cqh;
  font-size: clamp(var(--minFontSize), var(--scaler), var(--maxFontSize));
}
/* green-500", "orange-500", "red-500", "purple-500 */
.diffBasic {
  @apply bg-green-500;
}

.diffAdvanced {
  @apply bg-orange-500;
}

.diffExpert {
  @apply bg-red-500;
}

.diffMaster {
  @apply bg-purple-500;
}

.diffUltima {
  /* background: linear-gradient(
    161deg,
    rgba(44, 44, 47, 1) 0%,
    rgba(51, 51, 51, 1) 94%
  ); */
  background: linear-gradient(159.73deg, #ff005a 0%, #260d00 100%);
}

.diffWorldsEnd {
  background: linear-gradient(140.54deg, #608d00 0%, #d30000 72.37%),
    linear-gradient(360deg, #0029ff 0%, #8fff00 100%),
    radial-gradient(100% 164.72% at 100% 100%, #6100ff 0%, #00ff57 100%),
    radial-gradient(100% 148.07% at 0% 0%, #fff500 0%, #51d500 100%);
  background-blend-mode: color-dodge, overlay, difference, normal;
}
